{% extends 'dashboard/layouts/auth_base.html' %}

{% block content %}

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
    <p class="mb-4">We get it, stuff happens. Just enter your email address below
        and we'll send you a link to reset your password!</p>
</div>
<form class="user" method="post" action="{% url 'dashboard:forgot_password' %}">
    <div class="form-group">
        {{ form.email }}
    </div>
    <button class="btn btn-primary btn-user btn-block" name="submit">
        Reset Password
    </button>
</form>
<hr>
<div class="text-center">
    <a class="small" href="{% url 'dashboard:register_user' %}">Create an Account!</a>
</div>
<div class="text-center">
    <a class="small" href="{% url 'dashboard:login_user' %}">Already have an account? Login!</a>
</div>

{% endblock content %}