{% extends 'dashboard/layouts/base.html' %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Meeting table</h1>
    <p class="mb-4">Here you can find the table consists of all of your meeting in our app. If you want to create the
        new one, click <a href="{% url meeting:new_meeting}"
                          target="_blank">here</a>.</p>
    {% if message %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success btn-icon-split" name="submit">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">Create Meeting</span>
        </button>
    </form>
</div>
{% endblock content %}