<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>main page</h2>
    <p>
        {% if user.is_authenticated %}
            Hi, {{ user.username }}
            <a href="{% url 'users:logout' %}">
                Log out
            </a>
        {% else %}
            <a href="{% url 'users:register' %}">
                Register
            </a>
            <a href="{% url 'users:login' %}">
                Log in
            </a>
        {% endif %}
    </p>
    {% block head %}{% endblock head %}
</body>
</html>